body{}

div{width:300px;height:40px;}
.header{background-color:red;}

.main{background-color:blue;}

.infoboxes{background-color:green;}

.quote{background-color:pink;}

.signup{background-color:yellow;}

.footer{background-color:silver;}