body{}

button{background-color:#3882f6;color:white;padding:12px;}

.header, .main, .footer{background-color:#1f2937;}

.header{display:flex;justify-content:center;align-items:center;}
.header ul{display:flex;list-style:none;margin-left:auto;padding-right:6px;gap:6px;}
a{text-decoration:none;color:white;}

.main h2{font-size:48px;
         color:#f9faf8;
        font-weight:bolder;}

.header li a, .main p{font-size:18px; 
           color:#e5e7eb;}

.main{display:flex;flex-direction:row-reverse;justify-content:center;gap:8px;padding:12px;}
.main img{max-width:400px;flex:1;}
.maincontent{display:flex;flex-direction:column;align-items:flex-start;justify-content:center;padding:6px;width:300px;}
.maincontent h{text-align:center;}

.infoboxes{background-color:white;}
.infoboxes h3{font-size:36px;color:#1f2937;font-weight:bolder;}

.quote{background-color:#e5e7eb;}

.quote p{font-size:36px;
color:#1F2937;
font-style:italic;}

.signup{background-color:#3882f6;}

